@import "base/common";

// ==============================================
// course
// ==============================================
.container{
    @include position(absolute, 3, 0, 0, 42px, 0);
    background: #000;

    .connection{
        @include position(absolute, 4, 50%, 0, none, 0);
        margin-top: -128px;
        padding-top: 195px;
        @include backgroundImage('../images/course-connect.png', no-repeat, center, top, 378px, 161px);



        .text{
            font-size: 18px;
            line-height: 1.5;
            color: #FFF;
            text-align: center;

            &.text-2{
                margin-top: 7px;
            }
        }
    }

    .loading{
        @include position(absolute, 4, 50%, 0, none, 0);
        margin-top: -55px;
        overflow: hidden;

        .icon{
            display: block;
            margin: 0 auto;
            width: 64px;
            height: 64px;
            @include backgroundImage('../images/course-loading.png', no-repeat, center, center, 100%, 100%);
            -webkit-animation: rotate 1s linear infinite;
               -moz-animation: rotate 1s linear infinite;
                -ms-animation: rotate 1s linear infinite;
                 -o-animation: rotate 1s linear infinite;
                    animation: rotate 1s linear infinite;
        }

        .text{
            margin-top: 20px;
            font-size: 18px;
            color: #888;
            line-height: 1.5;
            text-align: center;
        }
    }

    .screen{
        @include position(absolute, 4, 0, 0, 0, 0);

        .imgbox{
            @include position(absolute, 10, 0, 0, 0, 0);
            -webkit-transform-origin: left top;
                    transform-origin: left top;

            .course-img{
                @include position(absolute, 10, 50%, none, none, 50%);
                -webkit-transform-origin: center center;
                        transform-origin: center center;
                // @include translate(-50%, -50%, 0);
                // max-width: 100%;
                // max-height: 100%;
            }
        }

        .audiobox{
            @include position(absolute, 10, 0, 0, 0, 0);
            -webkit-transform-origin: left top;
                    transform-origin: left top;
            @include backgroundImage('../images/icon-audio.png', no-repeat, center, center, 628px, 128px);

            .audiobar{
                @include position(absolute, 10, none, none, 16px, 50%);
                margin-left: -285px;
                width: 570px;

                .text{
                    font-size: 14px;
                    color: #888888;
                    letter-spacing: 0.52px;
                    line-height: 19px;
                    text-align: center;
                }

                .progress-box{
                    height: 23px;
                    overflow: hidden;

                    .current-time,
                    .duration-time{
                        float: left;
                        width: 50px;
                        font-size: 13px;
                        color: #FFFFFF;
                        letter-spacing: 0.16px;
                        line-height: 23px;
                        text-align: center;
                    }

                    .progress{
                        float: left;
                        width: 470px;
                        margin-top: 10px;
                        background: rgba(255,255,255,0.50);
                        border-radius: 100px;

                        .progress-bar{
                            height: 3px;
                            background: #FFFFFF;
                            border-radius: 100px;
                            // @include transition(all, 1s, linear, 0);
                        }
                    }
                }
            }
        }

        .canvas{
            @include position(absolute, 15, 0, 0, 0, 0);
            overflow: hidden;
            -webkit-transform-origin: left top;
                    transform-origin: left top;

            canvas{
                @include position(absolute, 16, 50%, none, none, 50%);
                @include translate(-50%, -50%, 0);
            }
        }

        .state-before{
            @include position(absolute, 20, none, 12px, 22px, none);
            width: 150px;
            height: 42px;
            font-size: 18px;
            line-height: 42px;
            color: #FFF;
            text-align: center;
            background: #1EC51D;
            border-radius: 4px;
        }

        .state-doing{
            @include position(absolute, 20, none, 0, 0, none);
            width: 174px;
            height: 130px;
            padding: 11px 12px 0 12px;
            background: rgba(0, 0, 0, .7);

            .text{
                font-size: 14px;
                color: #FFF;
                line-height: 1.5;

                &.text-number{
                    margin-top: 5px;

                    .btn-unAnswer{
                        float: right;
                        color: #38A0FF;
                    }
                }
            }

            .button-stop{
                width: 150px;
                height: 42px;
                margin-top: 10px;
                font-size: 18px;
                line-height: 42px;
                color: #FFF;
                text-align: center;
                background: #D71616;
                border-radius: 4px;
            }
        }

        .state-after{
            @include position(absolute, 20, none, 0, 0, none);
            width: 174px;
            height: 130px;
            padding: 32px 12px 0 12px;
            background: rgba(0, 0, 0, .7);

            .button-detail{
                width: 150px;
                height: 42px;
                font-size: 18px;
                line-height: 42px;
                color: #1EC51D;
                text-align: center;
                background: #FFF;
                border-radius: 4px;
            }

            .text{
                font-size: 14px;
                color: #1EC51D;
                line-height: 1.5;
                margin-top: 15px;
                text-align: center;
            }
        }

        .chart{
            @include position(absolute, 30, 0, 0, 0, 0);
            background: rgba(0, 0, 0, .7);

            .chart-box{
                @include position(absolute, 31, 50%, none, none, 50%);
                width: 700px;
                @include translate(-50%, -50%, 0);

                .time{
                    @include position(absolute, 32, -35px, 0, none, 70px);
                    font-size: 18px;
                    line-height: 1.5;
                    color: #FFF;
                    text-align: center;
                }

                .titles{
                    padding: 10px 20px;
                    border-right: 1px solid #979797;

                    .titles-item{
                        font-size: 18px;
                        color: #FFF;
                        line-height: 60px;
                        text-align: right;
                        white-space: nowrap;
                    }
                }

                .options{
                    padding: 10px 0;

                    .options-item{
                        padding: 10px 0;

                        .color-line{
                            height: 40px;
                        }

                        .text{
                            margin-left: 10px;
                            font-size: 14px;
                            color: #FFF;
                            line-height: 40px;
                        }
                    }
                }
            }
        }

        .student,
        .unAnswer-student{
            @include position(absolute, 31, 0, 0, 0, 0);
            background: rgba(0, 0, 0, .7);

            .student-box{
                @include position(absolute, 32, 50%, none, none, 50%);
                width: 700px;
                @include translate(-50%, -50%, 0);

                h2 {
                    @include position(absolute, 33, -50px, 0, none, 0);
                    color: #fff;
                    font-size: 18px;
                    text-align: center;
                    line-height: 1;
                    font-weight: 400;
                }

                p{
                    display: inline-block;
                    width: 100px;
                    height: 40px;
                    margin: 10px 20px;
                    color: #000;
                    line-height: 40px;
                    text-align: center;
                    background: #FFF;
                    border-radius: 10px;
                }
            }

            .no-list{
                @include position(absolute, 32, 50%, none, none, 50%);
                width: 700px;
                @include translate(-50%, -50%, 0);
                color: #fff;
                font-size: 18px;
                text-align: center;
                line-height: 1;
                font-weight: 400;
            }
        }
    }

    .bindcard{
        @include position(fixed, 10, 0, 0, 42px, 0);
        background: rgba(0, 0, 0, .75);
        opacity: 0;
        @include transition(all, .3s, ease-in-out, 0);

        &.bindcard-active{
            opacity: 1;
            @include transition(all, .3s, ease-in-out, 0);
        }

        .bindcard-box{
            @include position(absolute, 11, 50%, none, none, 50%);
            @include translate(-50%, -50%, 0);
            width: 750px;
            background: rgba(239, 239, 244, 1);

            .card-header{
                padding: 60px 0 40px 0;
                font-size: 0;
                text-align: center;

                .card-item{
                    display: inline-block;
                    width: 120px;
                    height: 180px;
                    margin: 0 20px;
                    background: #FFFFFF;
                    border: 1px solid #CDCDD2;
                    border-radius: 12px;
                    font-size: 72px;
                    color: #000000;
                    line-height: 180px;
                    text-align: center;
                }
            }

            .card-tips{
                font-size: 34px;
                color: #7F8388;
                text-align: center;
                line-height: 1;
            }

            .card-main{
                padding: 40px 0 10px 0;
                font-size: 0;
                text-align: center;

                .card-item{
                    display: inline-block;
                    width: 150px;
                    height: 150px;
                    margin: 0 28px 30px 28px;
                    background: #FFFFFF;
                    border: 1px solid #CDCDD2;
                    border-radius: 50%;
                    font-size: 48px;
                    color: #000000;
                    line-height: 150px;
                    text-align: center;

                    &.selected{
                        background: #38A0FF;
                        color: #fff;
                    }

                    &.disable{
                        background: #E1E1E5;
                    }

                    &:last-child{
                        background: #1EC51D;
                        color: #fff;
                    }
                }
            }

            .card-info{
                margin-bottom: 40px;
                font-size: 26px;
                color: #7F8388;
                line-height: 1;
                text-align: center;

                span{
                    color: rgba(198, 57, 48, 1);
                }

                a{
                    color: #38A0FF;
                    cursor: default;
                }
            }
        }
    }

    .bindlist{
        @include position(fixed, 10, 0, 0, 42px, 0);
        background: rgba(0, 0, 0, .75);

        .bindlist-box{
            @include position(absolute, 11, 0, none, 0, 50%);
            @include translate(-50%, 0, 0);
            width: 750px;
            background: rgba(239, 239, 244, 1);

            ul{
                padding: 30px 25px;
                background: #fff;
                font-size: 0;
                text-align: left;

                .list-item{
                    display: inline-block;
                    margin: 10px;
                    width: 120px;
                    height: 48px;
                    font-size: 22px;
                    line-height: 48px;
                    color: #454545;
                    border: 1px solid #CDCDD2;
                    border-radius: 12px;
                    text-align: center;
                    overflow: hidden;
                }

                .no-data{
                    font-size: 22px;
                    color: #454545;
                    line-height: 3;
                    text-align: center;
                }
            }
        }
    }
}

.toolbar{
    @include position(absolute, 3, none, 0, 0, 0);
    height: 42px;
    background: #23272c;
    font-size: 0;
    text-align: center;
    overflow: hidden;

    .button-refresh,
    .button-fullscreen{
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-top: 6px;
    }

    .button-refresh{
        @include backgroundImage('../images/course-refresh.png', no-repeat, center, center, 100%, 100%);
    }

    .button-fullscreen{
        margin-left: 60px;
        @include backgroundImage('../images/course-fullscreen.png', no-repeat, center, center, 100%, 100%);
    }
}
